.feed{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 40px;
    padding-left: 41px;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {    
    height: 70px;
    width: 70px;
    background: #d0af03;
    border-radius: 9px;
    --c:no-repeat radial-gradient(farthest-side,#000 92%,#0000);
    --s:18px 18px;
    -webkit-mask:
      var(--c) left  4px top    4px,
      var(--c) right 4px top    4px,
      var(--c) right 4px bottom 4px,
      var(--c) left  4px bottom 4px,
      linear-gradient(#000 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;
    animation: l4 1.5s infinite;
    margin: auto;
    margin-top: 100px;
   
  }
  @keyframes l4 {
    0%    {-webkit-mask-size:0    0  ,0    0  ,0    0  ,0    0  ,auto}
    12.5% {-webkit-mask-size:var(--s),0    0  ,0    0  ,0    0  ,auto}
    25%   {-webkit-mask-size:var(--s),var(--s),0    0  ,0    0  ,auto}
    37.5% {-webkit-mask-size:var(--s),var(--s),var(--s),0    0  ,auto}
    50%   {-webkit-mask-size:var(--s),var(--s),var(--s),var(--s),auto}
    62.5% {-webkit-mask-size:0    0  ,var(--s),var(--s),var(--s),auto}
    75%   {-webkit-mask-size:0    0  ,0    0  ,var(--s),var(--s),auto}
    87.5% {-webkit-mask-size:0    0  ,0    0  ,0   0   ,var(--s),auto}
    100%  {-webkit-mask-size:0    0  ,0    0  ,0   0   ,0   0   ,auto}
  }


.card{
    border-radius: 10px;
    /* overflow: hidden; */
    text-decoration: none;
    width: 300px;
    
}

.card img{
    border-radius: 10px;
    width: 300px;
    height: 180px;
}

.card p,h3{
    color: #000000a0;
    font-weight: 0;
}

.info{
    padding-top: 10px;
    display: flex;
    
}


.info h2{
    padding-bottom: 7px;
    color: black;
}

.userProf{
    padding-right: 10px;
}
.userProf img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}


@media (max-width:699px) {
    .card img{
        border-radius: 10px;
        width: 96%;
        height: 60vw;
    }

    .userProf img{
        height: 30px;
        width: 30px;
        border-radius: 100%;
    }

    .card{
        border-radius: 10px;
        text-decoration: none;
        width: 96%;
        
    }

    .feed{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        row-gap: 40px;
        padding-left: 0;
        flex-direction: column;
        justify-content: center;
    }
    
}


