.feed{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 40px;
    padding-left: 75px;
     
}

.feed img{
    width: 300px;
    height: 180px;
}

.card{
    border-radius: 10px;
    /* overflow: hidden; */
    text-decoration: none;
    width: 300px;
    
}

.card img{
    border-radius: 10px;
}

.card p,h3{
    color: #000000a0;
    font-weight: 0;
}

.info{
    padding-top: 10px;
    display: flex;
    
}


.info h2{
    padding-bottom: 7px;
}

.userProf{
    padding-right: 10px;
}
.userProf img{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    /* background-color: red; */
}


