.recommended{
    flex-basis: 30%;   
    margin-top: 30px; 
    /* flex-wrap: wrap; */
}


.side_video_list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 7px;    
}

.side_video_list img{      
    flex-basis: 49%;
    width: 50%; 
    height: 110px;
    border-radius: 10px;
}

.side_video_info h4{
    font-size: 12px;
    font-weight: 600;
    margin-top: 4px;
}

.side_video_info{
    width: 210px;
    height: 100px;
}


.side_video_info h5{
    color: #000000ad;
    font-weight: 600;
}

.side_video_info p{
    color: #444444;
    
}

.chennelName{
    margin-top: 15px;
}
